<% if @comments == nil%>
<p>Sorry</p>
<%else%>
<% @comments.each do |comment|%>
<p> <%= comment.body%>
<%= link_to 'Delete', product_comment_path(:id=>comment.id), method: :put, data: { confirm: 'are_you_sure?' } %> </p>

<% end %>
<% end %>
<h2>Add a comment</h2>
<%= render 'comments/form' %>
