<head>
<link rel="stylesheet" href="home.scss"/>
</head>
<body>
<div class="container content">
		<div id="map-canvas"></div>

<div class="row">
	<div class="col-md-25 products">	
		<% @products.each do |product| %>	
				<div class="col-sm-4">
				    <div class="product">
					        <div class="title">
					         	<%= link_to product.prname, product_path(product) %>
					        </div>

					        <div class="img">
								<%= image_tag product.photo_file_name, size:"200x200" %> <br /> 
							</div>

							<div class="panel-footer">
							  <h4>	<%= product.maker %> </h4> <hr>
								
							<h4>	<%= product.cost %> </h4>
								
							</div>
					</div>
				</div> 
			<% end %>	
		</div>
	</div>
</div>

<script>
	
function initialize(){


		var mapCanvas = document.getElementById('map-canvas');
		var mapOptions = {
			center: new google.maps.LatLng(48.60,22.9),
			zoom: 11,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		}
		var map = new google.maps.Map(mapCanvas, mapOptions);

		locations = [
    [48.6236075,22.9333669],
    [48.625148,22.947258],
    [48.5931465,22.972106],
    
    [48.5901842,22.9746168]
  ];

      for (var i=0; i<locations.length; i++) {
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][0], locations[i][1]),
        map: map
      })
    }


		marker.setMap(map);
	}
	google.maps.event.addDomListener(window, 'load', initialize);

</script>

 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCz7uaBaPFkRM6TV6EPlajVqfPvmsCzjZw&callback=initialize"
    async defer></script>



		</body>