 

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

}

.row{
  width:60%;
  margin-top: 20%;
}

.container{
  
  width:100%;
}

.content{
  width:100%;
  
}

body{
   background: #F5F4EB;
  
    margin-top: 30px;
    background-position: center;
}

  #map-canvas {
  margin-top:20%;
  border: 2px black;
  float: right;
  width: 40%;
  height: 500px;
  }

.img {
  height: auto;
  max-width: 100%;
}

.product {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #c0c0c0;
  height: 40%;

  overflow: hidden;
  
  position: relative;
  text-align: center;
  
  margin-bottom: 20px;
}

.product:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.product-img {
  height: 200px;
}

.title{
  color: #000;
  font: 20px Poppins, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  
}
  .a:link
  {text-decoration: none;}

p { font-family: 'Poppins', Helvetica, Arial, sans-serif; }