h3
{
	text-align: center;
}

body
{
	background: yellow;
	onacity: 0.6;
}

#menu {
border: 2px black;
float: right;
width: 34%;
height: 600px;
}

#content {
background: #d2d0d2;
float: left;
width: 65%;
height: auto;
}